@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-two);
  background-color: var(--color-four);
}

:root {
  /* webpage-colors */
  --color-one: #272a31;
  --color-two: #ec5242;
  --color-two-trans: #ec5342f4;
  --color-three: #d3d3d3;
  --color-four: rgb(247, 247, 248);
  --color-five: #f7f7f7;

  /* webpage-fonts */
  --font-one: 'COCOGOOSE', sans-serif;
  --font-two: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#main-header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#social-nav {
  display: none;
}

#nav-bar {
  height: auto;
  width: 100%;
  display: flex;
  padding: 0.8rem;
  background-color: #fdfdfd;
  box-shadow: 1px 2px 10px rgb(39 42 50);
}

.overlay-menu {
  display: flex !important;
  flex-direction: column;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 15% 5%;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--color-two);
  transition: 0.2s;
}

.overlay-menu.active {
  left: 0;
  align-items: center;
  gap: 1.5rem;
}

.link {
  color: var(--color-five);
  font-size: 1.5rem;
}

li .link {
  border-bottom: 1px solid var(--color-three);
  margin-bottom: 1rem;
  width: 100%;
}

.hmg-menu {
  display: block;
  cursor: pointer;
  padding-right: 2em;
  align-self: center;
  z-index: 1;
}

.hmg-menu.active {
  padding: 0;
  display: block;
  cursor: pointer;
  padding-right: 2em;
  align-self: flex-end;
  z-index: 99;
}

.logo {
  display: flex;
  justify-content: end;
}

.logo img {
  width: 60%;
}

.line {
  display: block;
  background-color: #272a31;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.03s ease-in-out;
  transition: all 0.03s ease-in-out;
}

.hmg-menu.active .line:nth-child(1) {
  transform: translateY(6px) rotate(135deg);
  background-color: var(--color-five);
}

.hmg-menu.active .line:nth-child(2) {
  opacity: 0;
}

.hmg-menu.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-135deg);
  background-color: var(--color-five);
}

#nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

#buy {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  background-color: transparent;
  border: 1px solid var(--color-three);
  color: var(--color-five);
  font-family: inherit;
  font-weight: 600;
}

#headline {
  display: flex;
  background-color: rgba(241, 241, 241, 0.9);
  background-position: bottom;
  background-size: cover;
  background-blend-mode: soft-light;
  background-image: url("/multimedia/title-img.jpg");
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  text-align-last: auto;
  color: var(--color-one);
  line-height: 1.5rem;
  font-size: 0.9em;
}

#headline-p {
  padding: 1.5rem 1rem;
  background-color: var(--color-four);
  border: 2px solid white;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#headline-1-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

#headline-title {
  font-family: var(--font-one);
  background-image: url("/multimedia/title-img.jpg");
  background-position: right top;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 2rem;
  line-height: 2.8rem;
}

#hello-msg {
  color: var(--color-two);
  font-family: var(--font-two);
  font-weight: 600;
  font-size: 1.2em;
  justify-self: center;
}

#extra-info {
  font-weight: bold;
  text-decoration: underline;
}

.red {
  border-top: 1.5px solid var(--color-two);
  height: 20px;
  width: 30px;
  margin: auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  font-family: var(--font-two);
  line-height: 1.5rem;
  border-bottom: 1px solid var(--color-three);
  padding: 3.2rem 1.5rem;
}

.sec-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec-text h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.b-img {
  width: 100%;
}

.b-img img {
  width: 100%;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
}

.p-img-1,
.p-img-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: auto;
  background-image: url('../multimedia/festival-1.jpg');
  background-size: cover;
  background-color: rgb(255, 128, 128);
  background-blend-mode: multiply;
  padding: 3rem;
  font-family: var(--font-two);
  color: var(--color-five);
  font-size: 1rem;
  font-weight: 600;
}

.p-img-1 h4,
.p-img-2 h4 {
  font-size: 2rem;
}

.p-img-2 {
  background-image: url('../multimedia/festival-2.jpg');
}

#partners {
  background-color: var(--color-one);
  color: var(--color-five);
  height: auto;
  gap: 0.5rem;
}

#logos {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 290px;
  gap: 2rem;
}

#part-logo-1,
#part-logo-2,
#part-logo-3,
#part-logo-4,
#part-logo-5 {
  background-image: url('../multimedia/google-logo-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 40%;
}

#part-logo-2 {
  background-image: url('../multimedia/airbnb-logo.png');
}

#part-logo-3 {
  background-image: url('../multimedia/mtv-logo.2.png');
}

#part-logo-4 {
  background-image: url('../multimedia/vg-logo.png');
}

#part-logo-5 {
  background-image: url('../multimedia/yt_logo_rgb_dark.png');
}

#about-footer {
  display: flex;
  padding: 3.2rem 1.5rem;
  gap: 1rem;
}

#about-footer img {
  width: 35%;
}

#mob-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .hmg-menu {
    display: none;
  }

  #social-nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-one);
    padding: 0.3rem;
  }

  #social-nav ul {
    display: flex;
    padding-right: 6rem;
    gap: 1.5rem;
  }

  .social-link a {
    color: var(--color-five);
  }

  .social-link a:hover {
    color: var(--color-two);
  }

  #nav-bar {
    padding: 0.8rem 6rem;
  }

  .logo {
    justify-content: start;
  }

  .logo img {
    width: 70%;
  }

  .overlay-menu {
    display: flex !important;
    flex-direction: row;
    justify-content: end;
    gap: 3rem;
    position: static;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    transition: none;
  }

  #nav-links {
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    margin-top: 0;
  }

  .link {
    color: #8d8d8d;
    font-size: 1.2rem;
    font-weight: 600;
  }

  li .link {
    border-bottom: none;
    margin-bottom: 0;
    width: 100%;
  }

  .link:hover {
    color: var(--color-two);
  }

  #buy {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: var(--color-two);
    color: var(--color-five);
    font-family: inherit;
  }

  #headline {
    padding: 5rem 11rem;
  }

  #headline-1-container {
    padding: 0 6rem;
  }

  #hello-msg {
    display: none;
  }

  #headline-title {
    background-position: top;
    font-size: 3.2rem;
    line-height: 4rem;
  }

  #headline-p {
    padding: 1.5rem 3.5rem;
  }

  .section {
    padding: 3.2rem 11rem;
  }

  .sec-text {
    padding: 0 3.5rem;
  }

  .b-img {
    width: 75%;
  }

  .img-container {
    flex-wrap: nowrap;
  }

  .p-img-1,
  .p-img-2 {
    font-size: 1.2rem;
  }

  .p-img-1 h4,
  .p-img-2 h4 {
    font-size: 2.5rem;
  }

  #partners {
    display: none;
  }

  #about-footer {
    background-color: var(--color-one);
    padding: 3.2rem 9rem;
    gap: 1.5rem;
    color: var(--color-three);
  }

  #copyright {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  #mob-hidden {
    display: block;
  }
}
